.container{
    background-image: url("https://st2.depositphotos.com/3213441/12022/v/950/depositphotos_120226446-stock-illustration-pokemon-go-pokeball-seamless-texture.jpg");
    background-size: 100%;
    padding-bottom: inherit;
}

.form > input[type="text"],
.form > input {
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 20%;
    padding: 3px;
    box-sizing: border-box; 
    border: double; 
    color: black; 
    font-size: 1em;
    resize: none; 
    background-color: #EF9A9A;
 }

 .number > input[type="number"],
 .number > input {
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 20%;
    padding: 3px;
    box-sizing: border-box; 
    border: double; 
    color: black; 
    font-size: 1em;
    resize: none; 
    background-color: #EF9A9A;
}

 .button {
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: black;
    background-color: #E53935; 
    border-radius: 15px;
    border:dotted;
    cursor: pointer;
 }

 .button:hover{
    color:black;
    background-color: #B71C1C;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }

 .container > h1 {
    font: oblique bold 200% cursive;
    background-color: #EF9A9A;
    border:  #B71C1C 3px solid; 
 }

 .form > label {
    font: oblique bold 100% cursive;
    margin-right: 1%;
 }

 .number > label {
    font: oblique bold 100% cursive;
    margin-right: 1%;
 }

 .butCreat {
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: black;
    background-color: #E53935; 
    border-radius: 15px;
    border: 3px double black;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
 }

 .butCreat:hover {
    color:black;
    background-color: #B71C1C;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }

 .number > select {
    padding: 0.6em 0.8em;
    background-color: #E53935;
    color: black;
    border-radius: 15px;
    border: black;
    cursor: pointer;
    border-color: #B71C1C ;
 }

 select:hover{
    color:black;
    background-color: #B71C1C;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }

.tipo {
    border:ridge;
    margin-right: 40%;
    margin-left: 40%;
    background-color: salmon;
    margin-top: 1%;
}

 .tipo > p {
    font: oblique bold 100% cursive;  
 }

 .tipo > button {
     background-color: red;
     border-radius: 100%;
 }
 
 .container > img {
    width: 100px;
 }